<div class="flex justify-content-between">
  <p>
    Please contact
    <a href="mailto:hello@truck-or-treat.com">hello@truck-or-treat.com</a> to
    edit an existing truck or add a new one!
  </p>
  <button
    pButton
    pRipple
    type="button"
    label="Log Out"
    (click)="logout()"
  ></button>
</div>

<div *ngIf="!isOwner">
  <p>
    Please contact
    <a href="mailto:hello@truck-or-treat.com">hello@truck-or-treat.com</a> to
    add your truck to the site!
  </p>
</div>

<div *ngIf="isOwner && !trucks.length">Loading...</div>

<div class="grid mt-4">
  <div *ngFor="let truck of trucks" class="lg:col-4">
    <app-truck-card [editable]="true" [truck]="truck"></app-truck-card>
  </div>
  <div class="lg:col-4">
    <p-card styleClass="surface-ground h-full">
      <ng-template pTemplate="title">
        <div class="flex justify-content-between align-items-center">
          Add Another Truck
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded"
          ></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
